{% extends 'admin-header.html' %}

{% block body %}


<section class="vh-100 gradient-custom" >
  <div class="h-100">
    <div class="row justify-content-center align-items-center ">
      <div class="col-12 p-5">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">

            
              <form action="{% url 'allocate_duties_post' %}" method="post">
                {% csrf_token %}
              <div > 
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">INVIGILATOR</h3>
            
           
              

              
{% for i in invigilators %}
              <div class="row">
                <div class="col-md-6 ">

                  <div class="form-group">
                    <div class="form-outline">
                      <input type="text" id="model" class="form-control form-control-lg" value="{{i.invigilator.1}}"  disabled>
                      <input class="form-check-input" type="checkbox" value="{{i.invigilator.0}}" name="staff_id"  hidden checked>
                      
                      
                    </div>
                  
                </div>
                </div>
                <div class="col-md-6  ">

                  <div class="form-outline">
                    <input type="text" id="model" class="form-control form-control-lg" value="{{i.hall.1}}"  disabled>
                    <input class="form-check-input" type="checkbox" value="{{i.hall.0}}" name="hall_id"  hidden checked>
                    
                    
                  </div>

                </div>
               
                
              </div>
              
              
      {% endfor %}
             
           
          </div>



          <div > 
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 mt-4">EXAM CELL STAFF</h3>
            
           
              <table class=" mt-5" style="width: 100%;" id="productstable">
               <thead>
                  <tr style="justify-content: space-around;">
    
                    
                    
                    <th scope="col">Staff Name</th>
                    <th scope="col">Dept</th>
                    <th scope="col">Staff Type</th>
                    <th scope="col">select</th>
                   
                    
                    
                  </tr>
                </thead>
                <tbody>
                
                  {% for staff in examcell %}
                 <tr>
                  <td>{{staff.name}}</td>
                  <td>{{staff.dept}}</td>
                  <td>{{staff.stafftype}}</td>
                  <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{staff.id}}" name="examcell"  id="{{staff.id}}" checked>
                    <label class="form-check-label" for="{{staff.id}}">
                      select here ...
                    </label>
                  </div></td>
                  </tr>
                  {% endfor %}
    
                  
    
                </tbody>

              </table>
              

              </div>

              <div class="mt-2 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Allocate" />
              </div>

            </form>
          

          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
    .btn-lg{
        width: 100%;
    }
    /*.gradient-custom {
/* fallback for old browsers */
/*background: #e7dfe8;

/* Chrome 10-25, Safari 5.1-12 */
/*background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
}
.card-registration .select-arrow {
top: 13px;
}

</style>


{% endblock %}
