{% extends 'admin-header.html' %}

{% block body %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit Staff</h3>
            <form action="{% url 'alter_staff' %}" method="post">
              {% csrf_token %}
           
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="brand">Username</label>
                    <input type="text" id="brand" value="{{user.l_id.username}}" class="form-control form-control-lg" name="username" pattern="KTU-F\d{3,}" title="Please enter a valid KTU registration number" required>
                    
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="model">Name</label>
                    <input type="text" id="model" class="form-control form-control-lg" name="name" value="{{user.name}}" pattern="[A-Z][a-zA-Z\s'-]{0,49}" title="First letter must be capital"  required>
                    
                  </div>

                </div>
              </div>

              

              <div class="row">
                <div class="col-md-12 mb-4">

                  <div class="form-group">
                    <label for="type">Staff type</label>
                  <select class="custom-select custom-select-lg" id="type" name="staff_type" disabled>
                    <option value="{{user.usertype}}">{{user.stafftype}}</option>
                    <option value="cheef">Cheef</option>
                    <option value="invigilator">Invigilator</option>
                    
                    
                  </select>
                </div>
                </div>
 <div class="col-md-12 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="type" for="Segment">Department</label>
                    <select class="custom-select custom-select-lg" id="Segment" name="dept" disabled>
                    <option value="{{user.dept.d_name}}">{{user.dept.d_name}}</option>
                    {% comment %} {% for dept in depts %}
                    <option value="{{dept.id}}">{{dept.d_name}}</option>
                    {% endfor %} {% endcomment %}
                    
                  </select>
                    
                    
                  </div>

                </div>
               
                
              </div>
              
              <div class="row">
                <div class="col-md-12 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" class="form-control form-control-lg" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" 
                  title="Please enter a valid password (at least 8 characters, 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special character)">
                  <input type="text" id="" value="{{user.pk}}" class="form-control form-control-lg" name="id" hidden>
                </div>
                </div>
              </div>

             


              <div class="mt-2 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="edit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
    .btn-lg{
        width: 100%;
    }
    /*.gradient-custom {
/* fallback for old browsers */
/*background: #e7dfe8;

/* Chrome 10-25, Safari 5.1-12 */
/*background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

</style>


{% endblock %}
