{% extends 'admin-header.html' %}

{% block body %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Select halls</h3>
            <form action="{% url 'select_halls' %}" method="post">
              {% csrf_token %}
           
              <table class=" mt-5" style="width: 100%;" id="productstable">
                <thead>
                  <tr style="justify-content: space-around;">
    
                    
                    <th scope="col" colspan="4"><div align="center">You nees to select <span id="count">{{count}}</span> seats</div></th>
                    <span id="countDupe" style="display: none;">{{count}}</span>
                   
                    
                    
                  </tr>
                  <tr style="justify-content: space-around;">
    
                    
                    <th scope="col">Slno</th>
                    <th scope="col">Hall</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">select</th>
                   
                    
                    
                  </tr>
                </thead>
                <tbody>
                
                  {% for hall in halls %}
                 <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{hall.hall_name}}</td>
                  <td>{{hall.capacity}}</td>
                  <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{hall.id}}" name="hall_id"  id="{{hall.id}}" onchange="manageCount('{{hall.capacity}}','{{hall.id}}')">
                    <label class="form-check-label" for="{{hall.id}}">
                      select here ...
                    </label>
                  </div></td>
                  </tr>
                  {% endfor %}
    
                  
    
                </tbody>

              </table>
              <div class="mt-4 align-center" style="border-radius: 5px; margin-left: 35%; width: 100px;">
                <input class="btn btn-primary btn-lg" id="btn"  type="submit" value="submit" disabled>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  function manageCount(capacity,check){
    var btn = document.getElementById('btn');
    var count = document.getElementById('count');
    var countDupe = document.getElementById('countDupe');
    var checked = document.getElementById(check)
    // console.log(countDupe.innerHTML);
    if(checked.checked){
      countDupe.innerHTML = parseInt(countDupe.innerHTML)-parseInt(capacity);
      
      if(parseInt(count.innerHTML)<parseInt(capacity)){
        count.innerHTML = '0';
      }else{
        count.innerHTML = parseInt(count.innerHTML)-parseInt(capacity);
      }
    }else{
      count.innerHTML = parseInt(count.innerHTML)+parseInt(capacity);
      countDupe.innerHTML = parseInt(countDupe.innerHTML)+parseInt(capacity);
    }


    if (parseInt(countDupe.innerHTML) >= 0) {
      count.innerHTML = countDupe.innerHTML;
    }else{
      count.innerHTML = '0';
      btn.removeAttribute("disabled");

    }
    
  }
</script>

<style>
    .btn-lg{
        width: 100%;
    }
    /*.gradient-custom {
/* fallback for old browsers */
/*background: #e7dfe8;

/* Chrome 10-25, Safari 5.1-12 */
/*background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}*/

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

</style>


{% endblock %}
