{% extends 'admin-header.html' %}

{% block body %}
<h1 class="text-center">SEATING HISTORY</h1>
<section class="gradient-custom">
    <div class="container py-5">
      
          <div class="card shadow-2-strong p-5" style="border-radius: 15px; width: 100%;">
            <div class="card-body p-md-5" style="border: solid 10px #9cd7f3; border-radius: 25px;">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Select Schedule</h3>
              <form action="{% url 'seating_history' %}" method="post" >
                {% csrf_token %}
                <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="form-group">
                        <label for="type">Schedule</label>
                      <select class="custom-select custom-select-lg" id="type" name="schedule" required>
                        <option value="">Select schedule</option>
                        {% for i in rows %}
                            <option value="{{i.0}}">{{i.1}} {{i.2}}  {{i.3}}</option>
                            {% endfor %}
                        
                        
                      </select>
                    </div>
                    
                </div>
                
                <div class="col-md-4 mt-4 pt-2">
                  <div class="container pl-5 pr-5">
                  <input class="btn btn-outline-info btn-lg" type="submit" value="SUBMIT" style="width: 100%; border-radius: 20px; border-color: #7af1df;">
                </div>
                </div>
              </div>
              </form>

            </div>
          </div>
        
      
    </div>

    <!-- <script>
        function enebleExam(){
            // const x = document.getElementById("exam").value;
            document.getElementById("exam").disabled = false;
        }
    
    </script> -->
 
  
  <style>
    
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  
  </style>
  
  

{% endblock %}


